body{
   background-color:crimson ; 
}
h1{
    color: yellow;
}
h2{
    color: yellow;
}
p{
    color:yellow;
}
dt{
    color: yellow;
}
dd{
    color: yellow;
}
input{
    color: yellow;
}
ul{
    color: yellow;
}
